* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "JetBrains Mono";
}

main {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    width: 90%;
    height: 90%;
}

.chat-header {
    height: 8%;
    text-align: center;

    display: flex;
    justify-content: flex-end;
}

.room-name {
    margin: auto;
}

.room-name {
    display: inline-block;
}

.chat-window {
    width: 100%;
    height: 92%;
}

.chat-box {
    overflow-y: scroll;
    height: 95%;
}

.chat-box::-webkit-scrollbar {
    display: none;
}

.message-div {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-div {
    width: 100%;
    height: 5%;

    background-color: white;
}

#message {
    width: 95%;
}

a {
    color: white;
}

.msg-div {
    display: flex;
    gap: 1rem;
}
