* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "JetBrains Mono";
}

main {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    text-align: start;
}

@media screen and (min-width: 768px) {
    .main-div {
        width: 40% !important;
    }
}

@media screen and (min-width: 1024px) {
    .main-div {
        width: 30% !important;
    }
}

@media screen and (min-width: 1400px) {
    body {
        padding-left: 15rem;
        padding-right: 15rem;
    }

    .main-div {
        width: 25% !important;
    }
}
