<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" type="text/css" href="{% static 'room.css' %}" />
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"
        ></script>
        <title>room</title>
    </head>
    <body>
        <main class="p-4">
            <div class="chat-window">
                <div class="chat-header">
                    <h3 class="room-name">{{room}}</h3>
                </div>
                <div class="chat-box"></div>
                <!-- <div class="message-div p-2 mt-2">
                    <p class="sender">Tom</p>
                    <p class="message">Blah Blah Blah</p>
                    <p class="msg-time">24th Aug</p>
                </div> -->
            </div>
            <div class="form-div mt-2">
                <form id="post-form">
                    {% csrf_token %}
                    <input
                        type="hidden"
                        name="username"
                        id="username"
                        value="{{username}}"
                    />
                    <input
                        type="hidden"
                        name="room"
                        id="room"
                        value="{{room}}"
                    />
                    <input
                        type="hidden"
                        name="room_id"
                        id="room_id"
                        value="{{room_details.id}}"
                    />
                    <div class="msg-div">
                        <input
                            type="text"
                            id="message"
                            name="message"
                            class="form-control"
                        />
                        <button class="btn btn-success">Send</button>
                    </div>
                </form>
            </div>
        </main>
        <script>
            $(document).ready(function () {
                setInterval(function () {
                    $.ajax({
                        type: "GET",
                        url: "/getmessages/{{room}}/",
                        success: function (response) {
                            console.log(response);
                            $(".chat-box").empty();

                            const header = `
                            <div class="chat-header">
                                <h3 class="room-name">{{room}}</h3>
                            </div>
                            `;

                            // $(".chat-window").append(header);
                            for (var key in response.messages) {
                                var divCode = `
                                <div class="message-div p-2 mt-2">
                                    <p class="sender">${response.messages[key].user}</p>
                                    <p class="message">${response.messages[key].value}</p>
                                    <p class="msg-time">${response.messages[key].date}</p>
                                </div>
                                `;

                                $(".chat-box").append(divCode);
                            }
                        },
                        error: function (response) {
                            console.log(response);
                        },
                    });
                }, 1000);
            });

            $(document).on("submit", "#post-form", function (e) {
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "/send",
                    data: {
                        username: $("#username").val(),
                        room_id: $("#room_id").val(),
                        message: $("#message").val(),
                        csrfmiddlewaretoken: $(
                            "input[name=csrfmiddlewaretoken]"
                        ).val(),
                    },
                    success: function (data) {
                        //alert(data)
                    },
                });
                document.getElementById("message").value = "";
            });

            // setInterval(getMessages, 1000);
        </script>
    </body>
</html>
